/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .carousel {
        margin: 0% 20%;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .carousel {
        margin: 0%;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .header_title {
        margin-left: 25%;
        margin-right: 25%;
    }
    .carousel-inner--image {
        max-height: 75px;
    }
}


/* Hiding HAMBURGER */

@media only screen and (min-width: 1024px) {
    .mdl-layout__drawer-button {
        display: none;
    }
    .header_title {
        margin-left: 25%;
        margin-right: 25%;
    }
    .step_container {
        width: 90%;
    }
    .carousel {
        margin: 0% 20%;
    }
}

.logo_Text {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo_image {
    max-height: 50px;
}

.step_image {
    max-width: 75%;
}

#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 20px;
    z-index: 9999;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url('../assets/images/banner-bg.jpg') no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-secondary {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}

.fa-shop:before,
.fa-contact:before {
    content: "\f099";
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}


/* Features: */

.features-banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url('../assets/images/banner-bg.jpg') no-repeat center center;
    background-size: cover;
}

.feature-list {
    list-style-type: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
}

.feature-list-item {
    display: block;
    margin-bottom: 25px;
}

.feature-list-item p {
    display: inline;
    font-size: 28px;
}

.feature-list-item img {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}